@model Nebb.Data.Models.Ticket

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create ticket</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FreeCarry" />Free carry-on bag #</label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CheckedIn" />Checked-in bag #</label>
            </div>
            <div class="form-group">
                <label asp-for="TrolleyBag" class="control-label">Trolley Bag#</label>
                <input asp-for="TrolleyBag" class="form-control" />
                <span asp-validation-for="TrolleyBag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerId" class="control-label">Choose your profile</label>
                <select asp-for="PassengerId" class ="form-control" asp-items="ViewBag.PassengerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FlightId" class="control-label">Choose your flight</label>
                <select asp-for="FlightId" class ="form-control" asp-items="ViewBag.FlightId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="form-group">
    <input type="button" value="Reserver Flight" class="btn btn-primary" onclick="window.location='@Url.Action("Create", "FlightInfoes")'" />
    <input type="button" value="List of Flights" class="btn btn-primary" onclick="window.location='@Url.Action("Index", "FlightInfoes")'" />
    <input type="button" value="Create Profile" class="btn btn-primary" onclick="window.location='@Url.Action("Create", "PassengerInfoes")'" />
    <input type="button" value="List of Profiles" class="btn btn-primary" onclick="window.location='@Url.Action("Index", "PassengerInfoes")'" />
</div>