@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="button" id="btnRedirect" value="Redirect" />
    <script type="text/javascript">
    $(function(){
      $("#btnRedirect").click(function(){
        window.location.href = "@Url.Action("Details","Tickets")";
      });
    });
        </script>
</div>
